.gradient-bg {
  background: rgb(142, 196, 242);
  background: linear-gradient(
    130deg,
    rgba(142, 196, 242, 1) 0%,
    rgba(111, 109, 242, 1) 100%
  );
}

.chart-line {
  height: 1px;
}

#bars {
  height: 30%;
  position: absolute;
  top: 45%;
  width: 53%;
  left: 26%;
}
